.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/my-skills/**/*.html
!src/my-skills/**/*.css
!src/my-skills/**/*.svg
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# gohitx
public/**
src/__test__/**
ARCHITECTURE.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md