:root {
	/* --bg-color: #1e1e1e; */
	--text-color: white;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	/* background-color: var(--bg-color); */
	color: var(--text-color);
	font-family: var(--vscode-font-family);
	font-size: 1.5rem;
}
